include ../global/_mixins
doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title
			block title
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='shortcut icon' type='image/x-icon' href='../img/favicon/favicon.ico')
		link(rel='apple-touch-icon' href='../img/favicon/apple-touch-icon.png')
		link(rel='apple-touch-icon' sizes='57x57' href='../img/favicon/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon' sizes='72x72' href='../img/favicon/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon' sizes='76x76' href='../img/favicon/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon' sizes='114x114' href='../img/favicon/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon' sizes='120x120' href='../img/favicon/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon' sizes='144x144' href='../img/favicon/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon' sizes='152x152' href='../img/favicon/apple-touch-icon-152x152.png')
		link(rel='apple-touch-icon' sizes='180x180' href='../img/favicon/apple-touch-icon-180x180.png')
		//- add '?@@timestamp' postfix to assets files (styles, scripts, images...) for fix browser caching problems
		link(rel='stylesheet' href='css/style.min.css?@@timestamp')
	body.body.js-body
		.page-wrapper
			block variables
				include ../global/_variables

			block header
				include ../global/header

			block main

			block footer
				include ../global/footer

			block modal

		script(src='js/script.min.js?@@timestamp')
