section
    .container
        h1.pageHeadline преимущества g-sync
        p.introText Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.

        include ../../test-block

        div.btnContainer
            a(href='#helloModal' data-toggle="modal").openModalBtn купить
