div.socials.js-socials
    div
        a(href='https://twitter.com/' target='_blank').socials__link
            include ../../img/icons/socials/twtr.svg
    div
        a(href='https://www.instagram.com/' target='_blank').socials__link
            include ../../img/icons/socials/inst.svg