div.benefitsList
    .benefitsList__item
        .benefitsList__icon
            include ../../img/icons/icon1.svg
        h2.benefitsList__headline #[span hdr] display
        p Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.

    .benefitsList__item
        .benefitsList__icon
            include ../../img/icons/icon2.svg
        h2.benefitsList__headline #[span input] lag
        p Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.

    .benefitsList__item
        .benefitsList__icon
            include ../../img/icons/icon3.svg
        h2.benefitsList__headline #[span high refresh] rate
        p NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.

    .benefitsList__item
        .benefitsList__icon
            include ../../img/icons/icon4.svg
        h2.benefitsList__headline #[span wide color] gamut
        p Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.