div.openMenu.js-openMenu
    .openMenu__icon
        include ../../img/icons/menu_icon.svg
nav.topMenu.js-topMenu
    .topMenu__item
        a(href='').topMenu__itemLink Продукты
    .topMenu__item
        a(href='').topMenu__itemLink Технологии
    .topMenu__item
        a(href='').topMenu__itemLink Experience