#helloModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modalBox__body.modal-content
			button.modalBox__closeBtn(type='button' data-dismiss='modal' aria-label='Close')
				span(aria-hidden='true')
					include ../../img/icons/close.svg
			h3#exampleModalLabel.modalBox__headline.modal-title преимущества g-sync
			form.form(action='', method='POST')
				div.form__inputBox
					input(type='text', name='name', value='', placeholder="Имя").form__input
				div.form__inputBox
					input(type='email', name='email', value='', placeholder="Mail").form__input

				button.openModalBtn(type='submit') купить
