.mainLogo {
  & svg {
    width: 44px;
    @include media-breakpoint-up(md){
      width: 81px;
    }
  }

  @include media-breakpoint-up(md){
    margin-right: 38px;
  }
}

.btnContainer {
  text-align: center;
  margin-top: 50px;
}

.openModalBtn {
  background: $brand-color;
  border: 2px solid rgba(119, 185, 0, 1);
  color: $white;
  display: inline-block;
  text-transform: uppercase;
  font-family: $font-family-accent;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.25px;
  min-width: 192px;
  padding: 15.5px;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
  width: 100%;
  @include media-breakpoint-up(sm){
    width: unset;
  }
  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    text-decoration: none;
    box-shadow: $box-shw;
    color: $white;
  }
}