.form {
  text-align: center;
  &__inputBox {
    margin-bottom: 20px;
  }
  &__input {
    padding: 11px 20px;
    width: 100%;
    border: 3px solid transparent;
    transition: all .2s ease;
    &:focus,
    &:focus-visible {
      outline: none;
      outline-color: transparent;
      outline-width: 0;
      border-color: $brand-color;
    }
  }
}