@mixin header1() {
  font-family: $font-family-accent;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.25px;
}

@mixin subtitle() {
  font-family: $font-family-accent;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.25px;
}

@mixin body1() {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.3px;
}