.modalBox {
  &__body {
    background: $black;
    padding: 40px 20px;
    border: 2px solid $brand-color;
    box-shadow: $box-shw;
    position: relative;
    @include media-breakpoint-up(md){
      min-width: 540px;
      padding: 70px 90px;
    }
  }
  &__headline {
    @include header1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__closeBtn {
    position: absolute;
    top: 4px;
    right: 14px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $white;
    transition: all .2s ease;
    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
      color: $brand-color;
    }
    & svg {
      fill: currentColor;
    }
  }
}