.socials {
  display: none;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  @supports (gap: 33px) {
    gap: 33px;
  }
  @include media-breakpoint-up(md){
    display: flex;
    margin-left: auto;
    margin-top: unset;
    justify-content: unset;
    width: unset;
  }

  &__link {
    color: #808080;
    transition: all .2s ease;
    text-decoration: none;
    &:hover,
    &:focus,
    &:focus-visible {
      outline: none;
      color: $brand-color;
      text-decoration: none;
    }
    & svg {
      fill: currentColor;
    }
  }
  &_show {
    display: flex;
    padding-bottom: 14px;
  }
}