.openMenu {
  $self: &;
  margin-left: auto;
  cursor: pointer;
  right: -15px;
  position: relative;
  @include media-breakpoint-up(md){
    display: none;
  }
  &__icon {
    & svg rect {
      opacity: 0;
      transition: all .2s ease;
    }
  }
  &_active {
    & svg rect {
      opacity: 1;
    }

  }

}

.topMenu {
  display: none;
  flex-wrap: wrap;
  padding-top: 30px;

  @include media-breakpoint-up(md){
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    @supports (gap: 48px) {
      gap: 48px;
    }
  }
  &_show {
    display: block;
    width: 100%;
  }

  &__item {
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
    color: $white;
    @include media-breakpoint-up(md){
      margin-bottom: 0;
    }
  }
  &__itemLink {
    @include body1;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background: $brand-color;
      visibility: hidden;
      transform: scaleX(0);
      transition: .25s linear;
    }
    &:hover,
    &:focus,
    &:focus-visible {
      outline: none;
      color: $white;
      &:before,
      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}