// глобальные стили кроме normalize
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
.body {
	background: url('../../img/bg.jpg'), $black;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: $white;
	font-family: $font-family-base;
	@include media-breakpoint-up(md){
		background-size: auto;
		background-position: bottom right;
	}
	&_overflow {
		overflow: hidden;
	}
}
.container {
	@include make-container();
	@include make-container-max-widths();
}

img {
	@include img-fluid();
}

p {
	@include body1;
	letter-spacing: 0.3px;
	margin: 0;
}

::placeholder {
	font-family: inherit;
}


.pageHeadline {
	@include header1;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.introText {
	@include body1;
	text-align: center;
	@include media-breakpoint-up(md){
		padding: 0 17%;
	}
}

.benefitsList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	@supports (gap: 15px) {
		gap: 15px;
	}
	@include media-breakpoint-up(xl){
		@supports (gap: 30px) {
			gap: 30px;
		}
	}

	&__item {
		margin-top: 60px;
		@include media-breakpoint-up(sm){
			flex-basis: 50%;
			flex-shrink: 0;
		}
		@include media-breakpoint-up(xl){
			flex-basis: 255px;

		}
	}
	&__icon {
		text-align: center;
		margin-bottom: 37px;
		& svg {
			& .path {
				stroke: $white;
				fill: $brand-color;
				fill-opacity: 0;
				transition: all .2s ease;
			}
		}
		&:hover {
			& svg {
				& .path {
					stroke: $brand-color;
					fill-opacity: .25;
				}
			}
		}
	}
	&__headline{
		@include subtitle;
		text-transform: uppercase;
		margin-bottom: 12px;
		text-align: center;
		@include media-breakpoint-up(sm){
			text-align: left;
		}
		& > span {
			font-family: $font-family-accent;
			font-weight: 700;
			color: $brand-color;
		}
	}
	&__text{
		@include body1;
	}
}