.header {
  margin-bottom: 60px;


  height: 100%;
  position: relative;
  @include media-breakpoint-up(md){
    padding: 15px 0;
  }
  & > .container {
    height: 100%;
  }
  &__body {
    display: flex;

    flex-wrap: wrap;
    height: 100%;
    @include media-breakpoint-up(md){
      flex-wrap: nowrap;
      align-items: center;
    }
  }
  &_openMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black;

  }
}